.book {
  /* .book__title */
  position: relative;
  z-index: 25;
  margin: 325px auto 0;
  width: 100%;

  &__bg {
    position: absolute;
    background: $maincol;
    width: 100%;
    height: 470px;
    top: 375px;
    z-index: 1;
  }

  &__title {
    max-width: 185px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  /* .book__box */

  &__box {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  /* .book__card */

  &__card {
    position: relative;
    max-width: 540px;
    max-height: 190px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 25;
  }
  &__card:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }

  /* .book__text */

  &__text {
    position: absolute;
    font-size: 44px;
    color: $text2;
    left: 33%;
    top: 35%;
    // max-width: 200px;
    text-align: center;
    z-index: 10;
  }
  &__card:nth-child(2) &__text,
  &__card:nth-child(3) &__text,
  &__card:nth-child(4) &__text,
  &__card:nth-child(6) &__text {
    transform: translateX(25%);
  }

  &__card-rhombus {
    position: absolute;
    height: 100px;
    width: 150px;
    backdrop-filter: blur(2.5px);
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(-20deg) skew(50deg) translate(50%, 50%);
    padding: 1px;
    top: 20%;
    left: 7%;
    z-index: 5;
  }
}

@include bpnetbook() {
  .book {
    /* .book__title */
    margin: 250px auto 0;
    max-width: 1024px;

    &__bg {
      width: 100%;
      height: 295px;
      top: 334px;
    }

    &__title {
      margin-bottom: 50px;
    }

    /* .book__box */

    &__box {
      max-width: 730px;
      justify-content: space-between;
      column-gap: 0;
      row-gap: 15px;
      flex-wrap: wrap;
    }
    &__card {
      max-width: 355px;
      max-height: 110px;
    }

    &__img {
      height: 100%;
      width: 100%;
    }

    &__text {
      font-size: 32px;
      color: $text2;
      left: 33%;
      top: 35%;
      // max-width: 200px;
    }
    &__card:nth-child(2) &__text,
    &__card:nth-child(3) &__text,
    &__card:nth-child(4) &__text,
    &__card:nth-child(6) &__text {
      transform: translateX(25%);
    }

    &__card-rhombus {
      height: 65px;
      width: 100px;
      backdrop-filter: blur(2.5px);
      background: rgba(255, 255, 255, 0.2);
      transform: rotate(-20deg) skew(50deg) translate(50%, 50%);
      padding: 1px;
      top: 24%;
      left: 9%;
    }
  }
}

@include bptablet() {
  .book {
    max-width: 768px;
  }
}

@include bpmobile() {
  .book {
    /* .book__title */
    max-width: 320px;
    margin: 75px auto 0;

    &__bg {
      width: 100%;
      height: 733px;
      top: 110px;
    }

    &__title {
      margin-bottom: 50px;
    }

    /* .book__box */

    &__box {
      max-width: 310px;
      justify-content: space-between;
      column-gap: 0;
      row-gap: 15px;
    }
    &__card {
      max-width: 310px;
      max-height: 110px;
    }

    &__text {
      font-size: 24px;
      left: 33%;
      top: 35%;
      // max-width: 200px;
    }
    &__card:nth-child(2) &__text,
    &__card:nth-child(3) &__text,
    &__card:nth-child(4) &__text,
    &__card:nth-child(6) &__text {
      transform: translateX(39%);
    }

    &__card-rhombus {
      top: 20%;
      left: 3%;
    }
  }
}
