//Миксины
@mixin bptablet {
  @media screen and (max-width: 1439px) {
    @content;
  }
}
@mixin bpmobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

//переменные
$mainbg: rgba(226, 211, 206, 0.5);
$maincol: #e2d3ce;
$text1: #0c0b10;
$text2: #fff;
$texthov: #fff;
$border: #fff;
$boxborder: #79655e;

//обнуление стилей
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font: 1rem Forum;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $text1;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  // padding: 0 45px;
  // overflow: hidden;
  // @include bptablet() {
  //   max-width: 768px;
  //   padding: 0 30px;
  // }

  // @include bpmobile() {
  //   max-width: 320px;
  //   padding: 0 10px;
  // }
}

.body {
  background-color: $mainbg;
}

.linkanimation {
  a {
    background-image: linear-gradient($texthov, $texthov);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size 0.3s;
    border-radius: 1px;
    padding: 10px 0 5px;
  }
  a:hover {
    background-size: 100% 3px;
    color: $text2;
  }
  .underline {
    background-size: 100% 3px;
    transition: color 0.3s;
    color: $texthov;
  }
}
.rhombus {
  position: absolute;
  height: 80px;
  width: 150px;
  backdrop-filter: blur(0.5px);
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(75deg) skewX(58deg);
  padding: 1px;
  top: 40%;
  left: 45%;
  z-index: 30;
}
.rhombus::after {
  content: ' ';
  height: 85px;
  width: 155px;
  position: absolute;
  border: 1px $boxborder solid;
  transform: translate(-50%, -4.5%);
}

.title {
  font-size: 60px;
  line-height: 58px;
  color: $text1;
}

.choice {
  display: flex;
  column-gap: 5px;

  &__item {
    cursor: pointer;
    padding: 0 3px;
  }
  &__item:hover {
    color: $texthov;
    transition: 0.5s;
  }
  &__item_active {
    color: $texthov;
  }
}
