.header {
  /* .header__logo */
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  padding: 0 45px;
  top: 25px;
  text-transform: uppercase;
  z-index: 50;

  &__logo {
    max-height: 64px;
    max-width: 121px;
  }

  /* .header__list */

  &__list {
    display: flex;
    width: 625px;
    justify-content: space-between;
    &-link {
    }
  }
}
