@import '../../main/css/_normilize.css';
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #0c0b10;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.body {
  background-color: rgba(226, 211, 206, 0.5);
  font: 1rem Forum;
}

.linkanimation a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
  border-radius: 1px;
  padding: 10px 0 5px;
}
.linkanimation a:hover {
  background-size: 100% 3px;
  color: #fff;
}
.linkanimation .underline {
  background-size: 100% 3px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #fff;
}

.rhombus {
  position: absolute;
  height: 80px;
  width: 150px;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
  background: rgba(255, 255, 255, 0.1);
  -webkit-transform: rotate(75deg) skewX(58deg);
          transform: rotate(75deg) skewX(58deg);
  padding: 1px;
  top: 40%;
  left: 45%;
  z-index: 30;
}

.rhombus::after {
  content: " ";
  height: 85px;
  width: 155px;
  position: absolute;
  border: 1px #79655e solid;
  -webkit-transform: translate(-50%, -4.5%);
          transform: translate(-50%, -4.5%);
}

.title {
  font-size: 60px;
  line-height: 58px;
  color: #0c0b10;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.choice__item {
  cursor: pointer;
  padding: 0 3px;
}
.choice__item:hover {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.choice__item_active {
  color: #fff;
}

.btn {
  border-radius: 40px;
  border: 1px #fff solid;
  padding: 11px 25px;
}
.btn:hover {
  background-color: #e2d3ce;
  border-color: #0c0b10;
  -webkit-transition: 1s;
  transition: 1s;
}

.header {
  /* .header__logo */
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1440px;
  padding: 0 45px;
  top: 25px;
  text-transform: uppercase;
  z-index: 50;
  /* .header__list */
}
.header__logo {
  max-height: 64px;
  max-width: 121px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 625px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero {
  /* .hero_title */
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  /* .hero__subtitle */
  /* .hero__img */
  /* .hero__img-item */
}
.hero_title {
  position: absolute;
  max-width: 935px;
  font-size: 198px;
  line-height: 130px;
  letter-spacing: 5px;
  z-index: 11;
  top: 22%;
  left: 20%;
}
.hero__subtitle {
  position: absolute;
  font-size: 140px;
  z-index: 16;
  top: 48%;
  left: 35%;
  letter-spacing: 5px;
}
.hero__img {
  position: relative;
  height: 960px;
  top: 0;
}
.hero__img-item {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1440px;
}
.hero__img-item:nth-child(1) {
  z-index: 5;
}
.hero__img-item:nth-child(2) {
  z-index: 10;
}
.hero__img-item:nth-child(3) {
  z-index: 15;
}
.hero__img-item:nth-child(4) {
  z-index: 20;
  bottom: 20px;
}
.hero__gradient {
  position: absolute;
  width: 100%;
  height: 350px;
  z-index: 250;
  bottom: 0%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(226, 211, 206, 0)), color-stop(40%, rgba(226, 211, 206, 0.71)), to(#e2d3ce));
  background: linear-gradient(180deg, rgba(226, 211, 206, 0) 1%, rgba(226, 211, 206, 0.71) 40%, #e2d3ce 100%);
}

.topplaces {
  /* .topplaces__title */
  background: #e2d3ce;
  /* .topplaces__box */
  /* .topplaces__direction */
  /* .topplaces__dir-items */
  /* .topplaces__card-world */
  /* .topplaces__card-uz */
  /* .topplaces__card-items */
  /* .topplaces__card-img */
  /* .topplaces__card-loction */
  /* .topplaces__card-title */
  /* .topplaces__card-info */
  /* .topplaces__card-price */
}
.topplaces__title {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.topplaces__content {
  max-width: 1110px;
  margin: 0 auto;
  font-size: 28px;
  overflow: hidden;
}
.topplaces__dir {
  max-width: 300px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.topplaces__world {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  overflow: hidden;
}
.topplaces__uz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  overflow: hidden;
  display: none;
}
.topplaces__card-items {
  position: relative;
  width: 350px;
  height: 570px;
  border-radius: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
}
.topplaces__card-items:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.topplaces__card-box {
  position: absolute;
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  bottom: 0;
  padding: 0 35px 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#0b2034));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0b2034 100%);
}
.topplaces__card-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
}
.topplaces__uz .topplaces__card-img {
  max-height: 570px;
  -webkit-transform: translateX(-27%);
          transform: translateX(-27%);
}
.topplaces__card-loction {
  position: relative;
  font-size: 16px;
  margin-left: 16px;
  margin-bottom: 10px;
}
.topplaces__card-loction::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 16px;
  left: -16px;
  background-image: url("../../assets/svg/location.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.topplaces__card-title {
  font-size: 36px;
  margin-bottom: 30px;
}
.topplaces__card-info {
  font-size: 12px;
}
.topplaces__card-price {
  font-size: 24px;
}

.luxury {
  /* .luxury__bg */
  /* .luxury__bg-img */
  /* .luxury__box */
  /* .luxury__card */
  /* .luxury__card-title */
  /* .luxury__card-link */
  /* .luxury__card-text */
}