.topplaces {
  /* .topplaces__title */
  position: relative;
  background: $maincol;
  margin-bottom: 125px;
  z-index: 25;
  margin-top: 175px;

  &__title {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  /* .topplaces__box */

  &__content {
    max-width: 1110px;
    margin: 0 auto;
    font-size: 28px;
    overflow: hidden;
  }

  /* .topplaces__direction */

  &__dir {
    max-width: 300px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  /* .topplaces__card-world */

  &__world {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
    display: none;
  }

  /* .topplaces__card-uz */

  &__uz {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
    // display: none;
  }

  /* .topplaces__card-items */

  &__card-items {
    position: relative;
    width: 350px;
    height: 570px;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
  }
  &__card-items:hover {
    transform: scale(0.95);
    transition: 0.5s;
  }

  &__card-box {
    position: absolute;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $text2;
    bottom: 0;
    padding: 0 35px 35px;
    background: $card-bottom;
  }

  /* .topplaces__card-img */
  &__card-img:hover {
    transform: scale(1.05);
    transition: 1s;
  }
  &__uz &__card-img {
    max-height: 570px;
    transform: translateX(-27%);
  }

  /* .topplaces__card-loction */

  &__card-loction {
    position: relative;
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 10px;
  }
  &__card-loction::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 16px;
    left: -16px;
    background-image: url('../../assets/svg/location.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .topplaces__card-title */

  &__card-title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  /* .topplaces__card-info */

  &__card-info {
    font-size: 12px;
  }

  /* .topplaces__card-price */

  &__card-price {
    font-size: 24px;
  }
}
