@import '../../main/css/_normilize.css';
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font: 1rem Forum;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #0c0b10;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.body {
  background-color: rgba(226, 211, 206, 0.5);
}

.linkanimation a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
  border-radius: 1px;
  padding: 10px 0 5px;
}
.linkanimation a:hover {
  background-size: 100% 3px;
  color: #fff;
}
.linkanimation .underline {
  background-size: 100% 3px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #fff;
}