@import '../../main/css/_normilize.css';
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #0c0b10;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.body {
  background-color: rgba(226, 211, 206, 0.5);
  font: 1rem Forum;
}

.linkanimation a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
  border-radius: 1px;
  padding: 10px 0 5px;
}
.linkanimation a:hover {
  background-size: 100% 3px;
  color: #fff;
}
.linkanimation .underline {
  background-size: 100% 3px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #fff;
}

.rhombus {
  position: absolute;
  height: 80px;
  width: 150px;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
  background: rgba(255, 255, 255, 0.1);
  -webkit-transform: rotate(75deg) skewX(58deg);
          transform: rotate(75deg) skewX(58deg);
  padding: 1px;
  top: 40%;
  left: 45%;
  z-index: 30;
}

.rhombus-horiz {
  position: absolute;
  height: 175px;
  width: 275px;
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: rotate(-20deg) skew(50deg) translate(50%, 50%);
          transform: rotate(-20deg) skew(50deg) translate(50%, 50%);
  padding: 1px;
}

.title {
  font-size: 60px;
  line-height: 58px;
  color: #0c0b10;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.choice__item {
  cursor: pointer;
  padding: 0 3px;
}
.choice__item:hover {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.choice__item_active {
  color: #fff;
}

.btn {
  border-radius: 40px;
  border: 1px #fff solid;
  padding: 11px 25px;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #e2d3ce;
  border-color: #0c0b10;
  -webkit-transition: 0.65s;
  transition: 0.65s;
}

.btn_white {
  border-color: #0c0b10;
  padding: 5px 30px;
}
.btn_white:hover {
  background-color: #fff;
  border-color: #fff;
}

.btn_black {
  color: #fff;
  border-color: #0c0b10;
  background: #0c0b10;
  padding: 5px 30px;
}
.btn_black:hover {
  color: #0c0b10;
  background-color: #fff;
  border-color: #fff;
}

.frame {
  position: relative;
  border-radius: 10px;
  border: 1px #fff solid;
}
.frame::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 2%;
  height: 103%;
  width: 96%;
  border-radius: 10px;
  border: 1px #fff solid;
  z-index: -1;
}